<!DOCTYPE html>
<html lang="fi">

<head>
    <link rel="stylesheet" href="../public/main.css">
    <title>Lisää</title>
</head>

<body>
    <%- include("./modules/nav") %>
    <div class="add-form">
        <h1>
            Lisää drinkki
        </h1>
        <form action="add" method="POST">
            <input type="text" name="name" placeholder="nimi" required>
            <input type="text" name="genre" placeholder="laji" required>
            <input type="text" name="recipe" placeholder="valmistusohje" required>
            <select id="ingredients" name="ingredients">
                <% params.ingredients.forEach(item => { %>
                    <%- include("./modules/ingredient", { item }) %>
                <% }); %> 
            </select>
            <input type="text" name="amount" placeholder="määrä" required>
            <select id="ingredients" name="ingredients">
                <% params.ingredients.forEach(item => { %>
                    <%- include("./modules/ingredient", { item }) %>
                <% }); %> 
            </select>
            <input type="text" name="amount" placeholder="määrä">
            <select id="ingredients" name="ingredients">
                <% params.ingredients.forEach(item => { %>
                    <%- include("./modules/ingredient", { item }) %>
                <% }); %> 
            </select>
            <input type="text" name="amount" placeholder="määrä">
            <select id="ingredients" name="ingredients">
                <% params.ingredients.forEach(item => { %>
                    <%- include("./modules/ingredient", { item }) %>
                <% }); %> 
            </select>
            <input type="text" name="amount" placeholder="määrä">
            <input type="submit" value="Lisää">
        </form>
        <% if (user.admin) { %> 
            <h2>Lisää ainesosa</h2>
            <form action="addingredient" method="POST">
                <input type="text" name="name" placeholder="nimi" required>
                <input type="submit" value="Lisää">
            </form>
        <% } %>
    </div>
</body>

</html>