<!DOCTYPE html>
<html lang="fi">

<head>
    <link rel="stylesheet" href="../public/main.css">
  <title>Drinkki</title>
</head> 

<body>
    <%- include("./modules/nav", { user }) %> 
    <h1>
        <%=params.drink.name%>
    </h1>
    <h2>
        <%=params.drink.genre%> 
    </h2>
    <div class="drink">
        <% if (user.admin) { %> 
            <div class="drink-edit-bar">
                <form method="post" action="edit" class="drink-status-button">
                    <input type="hidden" name="id" value="<%=params.drink.id%>">
                    <button type="submit" name="code" value="edit" class="link-button button-edit">
                        Muokkaa
                    </button>
                </form>
                <form method="post" action="delete" class="drink-status-button">
                    <input type="hidden" name="id" value="<%=params.drink.id%>">
                    <button type="submit" name="code" value="delete" class="link-button button-delete">
                        Poista
                    </button>
                </form>
                <% if (params.drink.approved == 0) { %> 
                    <form method="post" action="approve" class="drink-status-button">
                        <input type="hidden" name="id" value="<%=params.drink.id%>">
                        <button type="submit" name="code" value="1" class="link-button link-button-not-approved">
                            Ei Hyväksytty
                        </button>
                    </form>
                <% } else { %> 
                    <form method="post" action="approve" class="drink-status-button">
                        <input type="hidden" name="id" value="<%=params.drink.id%>">
                        <button type="submit" name="code" value="0" class="link-button link-button-approved">
                            Hyväksytty
                        </button>
                    </form>
                <% } %> 
            </div>
        <% } %> 
    <div class="wrapper">
        <div class="drink-info">
            <% params.ingredients.forEach(ing => { %>
                <%= ing.name %> - <%= ing.amount %> <br>
            <% }); %>
        </div>
        <div class="drink-info"><%= params.drink.recipe %> </div>
        </div>
    </div>
</body>
</html>